/* fira-sans-regular - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fira-sans-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/fira-sans-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/fira-sans-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/fira-sans-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/fira-sans-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/fira-sans-v16-latin-regular.svg#FiraSans') format('svg'); /* Legacy iOS */
}

  /* comfortaa-regular - latin */
@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/comfortaa-v40-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/comfortaa-v40-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/comfortaa-v40-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/comfortaa-v40-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/comfortaa-v40-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/comfortaa-v40-latin-regular.svg#Comfortaa') format('svg'); /* Legacy iOS */
}
body{
    font-family: "Fira Sans", 'normal';
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/highspiritsfront.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}
/* First thing */
.Problems{
    width: 100%;
    margin: none;
    text-align: center;
    padding-top: 100px;
    background-color: beige;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}
.screenshot{
    flex-basis: 31%; /*like a third*/
    margin-bottom: 5%;
    position:relative;
}
.screenshot img{
    width: 120%;
    align-items: center;
    border-radius: 10px;
}
.screenshot h2{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}
.row ul{
    text-align: left;
}

/* Second thing */
.lowfi{
    width:100%;
    margin:auto;
    text-align: center;
    background-color: lavender;
}
.lowfi-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow:hidden;
}
.lowfi img{
    width: 100%;
    height: 100%;
    display: block;
}

/* third thing */
.third_thing{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.item3-col{
    flex-basis: 31%; /*like a third*/
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    position:relative;
}
.item3-col img{
    width: 100%;
    border-radius: 10px;
}
.item3-col p{
    padding:0;
}
.item3-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}


.fourth_thing{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;

}
.item4-col{
    flex-basis: 44%; /*like half*/
    border-radius:10px;
    margin-bottom: 5%;
    text-align: left;
    background: powderblue;
    padding: 25px;
    cursor: pointer;
    display: flex;

}
.item4-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%; /*makes a circle, or at least an elipse*/
}
.item4-col p{
    padding: 0;
}
.item4-col h3{
    text-align: left;
}

/*conclusion*/
.conclusion{
    margin:100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/sunfish.webp);
    background-position:  center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
}
.conclusion h1{
    color: greenyellow;
    margin-bottom: 40px;
    padding: 0;
}

/*footer*/
.footer{
    width:100%;
    text-align:center;
    padding:30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 550;
}
.icons .fa{
    color:antiquewhite;
    margin:0 13px;
    cursor: pointer;
    
}


